<h2>Photos</h2>

<% if current_user %>
  <%= form_for Photo.new, :url => photos_path, :html => { :multipart => true } do |f| %>
   <%= f.file_field :image %>
   <%= f.text_field :description %>
   <%= f.submit %>
  <% end %>
<% end %>

<ul>
<% @photos.each do |p| %>
<li>
  <%= link_to image_tag( p.image.url(:thumb) ), p.image.url %>
  <%= p.description %>
  <%= p.user.name %>
  <%= link_to "Delete", photo_path(p), :method => :delete %>
</li>
<% end %>
</ul>

<%= paginate @photos %>

